<table style="width: 100%;" class="table table-striped table-bordered">
    <tr>
        <td style="border: solid 1px silver;">
            <fieldset>
                <legend>.NET Technology <font color="red" size="1pt">(Click chart to see details)</font></legend>
                <div style="border-radius: 5px;" id='table_div_net'>
                </div>
            </fieldset>
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td style="border: solid 1px silver;">
            <fieldset>
                <legend>JAVA Technology <font color="red" size="1pt">(Click chart to see details)</font></legend>
                <div style="border-radius: 5px;" id='table_div_java'>
                </div>
            </fieldset>
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td style="border: solid 1px silver;">
            <fieldset>
                <legend>PHP Technology <font color="red" size="1pt">(Click chart to see details)</font></legend>
                <div style="border-radius: 5px;" id='table_div_php'>
                </div>
            </fieldset>
        </td>
    </tr>
    <tr>
        <td style="height:100px;">&nbsp;</td>
    </tr>
</table>
